{% extends "base.html" %}
{% block title %} About Kimtech {%endblock%}
{%block content %}

<img src="/static/images/me.jpg" class="me">


<div class="intro">
  <h1 id="intH1">Introduction</h1>
  
  <p>
    
  Hello, welcome. <br />
 
  This is  Kimera Charles a full stack (both front & back ends of a software system) software developer experienced in problem solving skills at a faster rate ever! <br />
  Introducing to you kimtech as the working name with the logo below.<br />
  </p>
</div>
<hr>
  <div class="logoImg">
     <img src="/static/images/logo.png">
  </div>
<hr>
<br />

<div class="intrCont">
  
  <p>
  In Kimtech, we do develop software systems on a surprising faster speed as can be required by our customers since most of the time we collaborate with other colleagues to provide the exact required product such that a smile is kept on our customers.
    </p>
</div>

<div class="services">
  <h1>Services</h1>
  <p>
  As Kimtech uganda, we deal with full stack software development and we make sure that we produce exactly what a customer has requested for, plus our additions to improve on the  functionality of our products.<br />
  Services delivered are as below;
    </p>
  
  <div class="list">
    <ol>
      <li>
        Simple/small scale to large scale website development.
      </li>
      <li>
        Automated systems.
      </li>
      <li>
        Business management systems.
      </li>
      <li>
        Students & workers' portals.
      </li>
      <li>
        Loans management systems.
      </li>
      <li>
        School management systems.
      </li>
      <li>
        Any other system when a customer brings their idea.
      </li>
    </ol>
  </div>
  <p>
  All above services can also be integrated into a single system depending on customer's request. <br />
  We emphasize the cheapest price which is favourable to enlerge the IT field to even smaller businesses making sure that we save time & energy of our beloved customers.<br />
  </p>
  <p>
  Mobile money payment methods are also inclusive in our products. <br />
  </p>
  <p>
  All we need is you to describe your idea, as in "Which kind of system would you like to own?" Is it a school portal, business management system, website, just share your idea and we develop for you. <br />
    </p>
  <p>
  In addition, we provide maintanance services to the systems we have developed. You don't have to worry about maintanance, we are here to keep systems working smoothly. <br />
    </p>
  <p>
  A user friendly interface for administrator is also included in our systems where the system administrator can manage the tasks in a system for example updating contents & database operations. This interface doesn't need any techinical skill to use it.<br />
  </p>
    <p style="color: black;">
  With Kimtech, everything is solved <br />
  #We Transform Ideas To Live Experience.
  </p>
</div>

{%endblock%}