{% extends "base.html" %}
{% block title %} Appliction {%endblock%}
{%block content %}

<div class="logo">
  <img src="/static/images/logo.png">
</div>

<div class="app">

<h1>
  Hello, Fill the below form to submit your idea.
</h1>

<div class="form">
  <form action="apply" method="POST">
    {% csrf_token %}
    <label>Name</label> <br />
    <input type="text" name="name" placeholder="Your Full Name." required><br />
    <label>Phone</label><br />
    <input type="text" name="tel" placeholder="Your Phone Number." required><br />
    <label>Email</label><br />
    <input type="email" name="email" placeholder="Your Email."><br />
    <label>Describe your idea</label><br />
    <textarea name="idea" rows="5" placeholder="Example: I need a website/system which do this & that..." required></textarea><br />
    <label>Budget</label><br />
    <input type="text" name="budget" placeholder="Your Budget in UGX." required><br /><br />
    <button type="submit">Submit</button>
  </form>
</div> 
Or, You can call us directly and finish everything in real time. 
  
  </div>
{%endblock%}